<% provide :title, t(".help_title") %>
<h1><%= t ".help" %></h1>
<p>
  <%= t ".get_help_on" %>
  <%= link_to t(".rails_tutorial"), "http://www.railstutorial.org/help" %>
  <%= t ".get_help_sample_app" %>
  <%= link_to t(".ruby_on"), "http://www.railstutorial.org/book" %> <%= t ".book" %>
</p>

